//Montserrat

@font-face {
	font-family: 'Montserrat-extra-light';
	src: url('/dist/fonts/montserrat-extralight-webfont.woff2') format('woff2'),
		url('/dist/fonts/montserrat-extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-light';
	src: url('/dist/fonts/montserrat-light-webfont.woff2') format('woff2'),
		url('/dist/fonts/montserrat-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/dist/fonts/montserrat-regular-webfont.woff2') format('woff2'),
		url('/dist/fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-bold';
	src: url('/dist/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
		url('/dist/fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

//Antonio

@font-face {
	font-family: 'Antonio-extra-light';
	src: url('antonio-extralight-webfont.woff2') format('woff2'), url('antonio-extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Antonio-light';
	src: url('antonio-light-webfont.woff2') format('woff2'), url('antonio-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Antonio';
	src: url('antonio-regular-webfont.woff2') format('woff2'), url('antonio-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Antonio-bold';
	src: url('antonio-semibold-webfont.woff2') format('woff2'), url('antonio-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

//Loew heavy

@font-face {
	font-family: 'loew';
	src: url('loew-heavy-webfont.woff2') format('woff2'), url('loew-heavy-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
