@use 'fonts' as *;
@use 'colors' as *;

html {
	font-size: 62.5%;
	// scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	// background-color: $body-bg;
	overflow-x: hidden;
}

//header
.header {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		background-color: $orange-light;

		&__logo {
			padding: 0 1em;

			&-image {
				width: 65px;
				height: 65px;
			}
		}
	}
}
