@use 'fonts' as *;
@use 'colors' as *;

html {
	font-size: 62.5%;
	// scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

//mobile nav

.mobile-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	width: 65%;
	height: 100vh;
	background: rgb(233, 80, 25);
	background: linear-gradient(128deg, rgba(233, 80, 25, 1) 0%, rgba(239, 124, 22, 1) 100%);
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	transform: translateX(650px);
	transition: 0.4s;
	z-index: 200;

	&__item {
		padding: 1.75em 1.5em;
		width: 100%;
		font-family: 'Antonio-light', sans-serif;
		font-size: 2.25rem;
		color: $dark;
		text-decoration: none;
		text-align: center;
	}
}

.show-nav {
	transform: translateX(0);
}

.disable-scroll {
	overflow-y: hidden;
}

.hamburger {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 300;
}

//navbar

.navbar {
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	background-color: $orange-light;
	z-index: 100;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100%;

		.logo {
			padding: 0.25em 1em;
			transition: transform 0.3s;

			&__image {
				width: 65px;
				height: 65px;
			}

			&:hover {
				transform: scale(0.9);
			}
		}

		.desktop-nav {
			display: none;
		}
	}
}

//header

.header {
	position: relative;
	margin-top: 80px;
	height: 300px;
	background-image: url('../img/hero-img-mobile.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;

		.heading-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 2;

			&__name,
			&__heading {
				font-family: 'Loew', sans-serif;
			}

			&__name {
				background: linear-gradient(to right, #ef7c16, #e95019);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				font-size: 4rem;
			}

			&__heading {
				padding: 0 1em;
				color: $creme-white;
				font-size: 2.5rem;
				line-height: 1.25em;
				letter-spacing: 2px;
				text-align: center;

				span {
					display: block;
				}
			}
		}

		.cta-button {
			padding: 0.8em 1.5em;
			font-family: 'Montserrat-bold', sans-serif;
			font-size: 1.6rem;
			color: $dark;
			border: none;
			border-radius: 20px;
			background-color: $orange-light;
			background: linear-gradient(to right, #ef7c16, #e95019);
			text-decoration: none;
			overflow: hidden;
			z-index: 2;
			transition: color 0.3s, transform 0.3s;
			cursor: pointer;

			&:hover {
				color: black;
				transform: scale(1.1);
			}
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: 1;
	}
}

//main

.section {
	padding: 3em 1.5em;
}

.section-title {
	position: relative;
	margin-left: 0.25em;
	font-family: 'Antonio-light', sans-serif;
	font-size: 2.6rem;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -10px;
		height: 130%;
		width: 3px;
		background-color: $orange;
	}
}

.aboutus {
	.wrapper {
		.aboutus-box {
			display: flex;
			flex-direction: column;
			margin-top: 2em;

			&__first-text,
			&__second-text {
				font-family: 'Montserrat';
				font-size: 2rem;
				color: $dark;
				line-height: 1.5em;
			}

			// &__first-text {
				
			// }

			&__second-text {
				font-weight: bold;

				&-list {
					font-family: 'Montserrat';
					margin-top: 0.75em;
					margin-left: 1em;

					li {
						margin-top: 0.5em;
						line-height: 1.5em;
						font-size: 1.8rem;
					}
				}
			}

			&__first-image,
			&__second-image {
				margin: 2.5em 0;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
			}
		}
	}
}
